:root {
    --text: purple;
    --font: 'Times New Roman', Times, serif;
}

h1 {
    color: var(--text);
    font-family: var(--font);
    text-align: center;
    font-size: 36px;
}

header p {
    color: white;
    text-align: center;
    font-family: var(--font);
    font-size: 12px;
}

body {
    background-color: gray;
}

main{
    display: flex;
    flex-wrap: wrap;
}

section {
    border: solid;
    min-width: 400px;
    min-height: 200px;
}

section header {
    color: var(--text);
    font-size: 24px;
    border: solid;
    border-color:white;

}

section p {
    color: var(--text);
    font-size: 12px;

}

.card-content {
    border: dashed;
    border-color: white;

}

